<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% if @users.present? %>
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user %> |
        <%= link_to "Edit this user", edit_user_path(user) %> |
        <%= button_to "Destroy this user", user, method: :delete %>
      </p>
    <% end %>
  <% else %>
    <p>No users found.</p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
