<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(book.price) %>
  </p>
  <p>
    <strong>Published Date:</strong>
    <% if book.published_date %>
    <%= book.published_date.strftime('%B %d, %Y') %>
  <% else %>
    No publication date available
  <% end %>
  
  </p>
</div>
