<!-- app/views/books/show.html.erb -->

<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= link_to "Delete this book", confirm_destroy_book_path(@book), class: "btn btn-danger" %>
</div>
